.DS_Store
.vscode
*.pyc
*.swp

# Ignore all build artifacts
*.o
*.a
*.so
*.so.*
*.dylib
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build/
dist/
*.egg-info/

# Ignore compiled binaries and libraries
epigeec/bin/*
epigeec/lib/*

# Keep directory structure
!epigeec/bin/.gitkeep
!epigeec/lib/.gitkeep
